@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  background: #360033;
  background: -webkit-gradient(linear, left top, right top, from(#360033), to(#0b8793));
  background: linear-gradient(to right, #360033, #0b8793);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100vh;
  background: #360033;
  background: -webkit-gradient(linear, left top, right top, from(#360033), to(#0b8793));
  background: linear-gradient(to right, #360033, #0b8793);
}

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 100px;
          flex: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.09);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.header__title {
  color: white;
  margin-right: 1rem;
  font-weight: 500;
  font-style: italic;
}

.header__button {
  width: auto;
  border: none;
  margin: 1rem;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100vmax;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12), 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12), 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
}

.header__button--simulate {
  padding: 3px 10px;
  border-radius: 100vmax;
  background: #db8434;
}

.header__button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.6;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-wrapper {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  margin-left: 1rem;
  margin-right: 2rem;
  max-width: 200px;
  min-width: 100px;
  width: 10vw;
}

.slider--track {
  height: 8px;
  top: -4px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.4);
}

.slider--track-0 {
  background: #fff;
}

.slider--thumb {
  cursor: pointer;
  background: #fff;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  outline: none;
}

.slider--thumb:hover {
  -webkit-box-shadow: 0 0 0 8px #ffffff19;
          box-shadow: 0 0 0 8px #ffffff19;
}

#gridContainer {
  width: 80%;
  height: 80%;
}

.grid {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 4px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.12);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.row {
  height: 10px;
}

.node {
  width: 10px;
  aspect-ratio: 1;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
}

.node--alive {
  background-color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.node:hover {
  background: #db8434;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.watermark {
  position: fixed;
  width: 100vw;
  top: 48vh;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14vw;
}

@media screen and (max-width: 600px) {
  .slider {
    min-width: 80px;
  }
  #gridContainer {
    width: 90%;
    height: 90%;
  }
  .watermark {
    font-size: 4rem;
    top: 55vh;
  }
}
/*# sourceMappingURL=App.css.map */