$node-size: 10px;
$bg-fallback: #360033;
$bg-color: linear-gradient(to right, #360033, #0b8793);
$border-color: hsla(0, 100%, 100%, 0.2);

//BUTTON COLORS
$slider-color-full: #fff;
$slider-color-empty: hsla(0, 100%, 100%, 0.4);
$primary: #db8434;
$button-color: #ffffff;
$button-text-color: #ffffff;
$button-hover-color: #6e85b2;
$button-text-hover-color: #fff;
$cell-alive-color: #fff;

//fallback for gradient
//background: #360033; /* fallback for old browsers */
//gradient I will use
//background: linear-gradient(to right, #360033, #0b8793);
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  background: $bg-fallback;
  background: $bg-color;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}
.app {
  display: flex;
  flex-flow: column;
  height: 100vh;
  background: $bg-fallback;
  background: $bg-color;
}

.header {
  flex: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: hsla(0, 100%, 100%, 0.09);
  box-shadow: 0px 4px 5px 0px hsla(0, 0%, 0%, 0.14),
    0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
    0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);

  &__title {
    color: white;
    margin-right: 1rem;
    font-weight: 500;

    font-style: italic;
  }
  &__button {
    width: auto;
    border: none;
    margin: 1rem;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 100vmax;
    color: $button-text-color;
    background-color: hsla(0, 100%, 100%, 0.08);
    box-shadow: 0px 3px 4px 0px hsla(0, 0%, 0%, 0.14),
      0px 3px 3px -2px hsla(0, 0%, 0%, 0.12),
      0px 1px 8px 0px hsla(0, 0%, 0%, 0.2);
    &--simulate {
      padding: 3px 10px;
      border-radius: 100vmax;
      background: $primary;
    }
    &:hover {
      // background-color: $button-hover-color;
      // color: $button-text-hover-color;
      transition: 0.5s;
      // background: $primary;
      opacity: 0.6;
    }
  }
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider-wrapper {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider {
  margin-left: 1rem;
  margin-right: 2rem;
  max-width: 200px;
  min-width: 100px;
  width: 10vw;
  &--track {
    height: 8px;
    top: -4px;
    border-radius: 2px;
    background: $slider-color-empty;
    &-0 {
      background: $slider-color-full;
    }
  }
  &--thumb {
    cursor: pointer;
    background: $slider-color-full;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    outline: none;
    &:hover {
      box-shadow: 0 0 0 8px #ffffff19;
    }
  }
}

#gridContainer {
  width: 80%;
  height: 80%;
}
.grid {
  width: max-content;
  border-radius: 4px;
  border: 3px solid $border-color;
  background-color: hsla(0, 100%, 100%, 0.12);
  backdrop-filter: blur(5px);
  box-shadow: 0px 8px 10px 1px hsla(0, 0%, 0%, 0.14),
    0px 3px 14px 2px hsla(0, 0%, 0%, 0.12),
    0px 5px 5px -3px hsla(0, 0%, 0%, 0.2);
}
.row {
  height: $node-size;
}

.node {
  width: $node-size;
  aspect-ratio: 1;
  border: 1px solid $border-color;
  display: inline-block;
  &--alive {
    background-color: $cell-alive-color;
    transition: 0.1s;
  }
  &:hover {
    background: $primary;
    opacity: 0.5;
    transition: 0.3s;
  }
}

.watermark {
  position: fixed;
  width: 100vw;
  top: 48vh;
  text-align: center;
  color: hsla(0, 100%, 100%, 0.4);
  font-size: 14vw;
}
@media screen and (max-width: 600px) {
  .slider {
    min-width: 80px;
  }
  #gridContainer {
    width: 90%;
    height: 90%;
  }
  .watermark {
    font-size: 4rem;
    top: 55vh;
  }
}
